body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}

footer{
    text-align: center;
}

